[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
opencv-python = "==4.4.0.40"
numpy = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
